body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.header,
.footer {
  background-color: #0581c4;
  color: rgb(0, 0, 0);
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.header {
  top: 0;
  transition: top 0.3s ease;
}

.header:hover {
  top: -10px;
}

.footer {
  bottom: 0;
  transition: bottom 0.3s ease;
}

.footer:hover {
  bottom: -10px;
}

.title {
  font-size: 3em;
  color: #333;
  transition: font-size 0.3s ease;
}

.title:hover {
  font-size: 3.5em;
}

.uploader {
  margin-top: 20px;
}

.uploader input {
  display: none;
}

.uploader label {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploader label:hover {
  background-color: #45a049;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.newClass {
  color: #000000;
  font-size: 16px;
}
